/* Login page styling */
#loginpage {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

#logintile {
    border: 1px solid #4f3e6b;
    display: table;
}

#loginheader {
    padding: 1vh 0;
    width: 20vw;
    display: table;  
    background-color: #4f3e6b;
}

#loginheader h1 {
    margin: 1.5vh 0;

    text-align: center;
    font-size: 5vh;
    color: white;
}

#loginform {
    margin: auto;
    padding: 2vw 2.5vw;
    width: calc(20vw - 2*2.5vw - 1px);
    display: table;

    background-color: white;

    font-size: 2.5vh;
}

#loginform input[type=text], #loginform input[type=password] {
    width: 100%;
    padding: 1.5vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    
    box-sizing: border-box;
    border: 1px solid #666666;
    
    outline: none;
    font-size: 2vh;
}

#loginform input:focus {
    background-color: #f8eaff;
}

#loginform input[type=submit] {
    margin-bottom: 1vh;
    padding: 1.75vh 1.3vw;

    border: none;
    outline: none;
    background-color: #8a65a1;
    cursor: pointer;
    
    font-family: Roboto Condensed;
    color: white;
    font-size: 2vh;
    text-transform: uppercase;
}

#loginform input[type=submit]:hover {
    background-color: #4f3e6b;
}