/* Added fonts */
@font-face {
    font-family: Crayon;
    src: url("../media/Leftover Crayon.otf");
}

@font-face {
    font-family: Roboto Condensed;
    src: url("../media/RobotoCondensed.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../media/Roboto.ttf");
}

/* Default styling */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    
    font-family: Roboto Condensed;
    text-transform: uppercase;
}

.divider {
    width: 1vw;
}

/* Navigaton */
li a {
    text-decoration: none;
    font-family: Roboto Condensed;
    color: white;
}

header {
    background-color: #8a65a1;
    
    left: 0;
    right: 0;
    height: 5vh;
    padding: 2.25vh 15%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header #logo a {
    text-decoration: none;
    font-family: Crayon;
    color: white;
    font-size: 5vh;
    font-weight: bold;

    cursor: pointer;
}

header #logo a:hover {
    color: #f8eaff;
}

header #navlinks, header #login {
    list-style: none;
}

header #navlinks li, header #login li {
    padding: 0 1.5vw;
    display: inline-block;
    font-size: 2.5vh;

    cursor: pointer;
}

header #navlinks li a:hover, header #login li a:hover {
    color: #f8eaff;
}


header #login {
    margin-left: auto;
}

/*Footer*/
footer {
    background-color: #8a65a1;

    bottom: 0;
    left: 0;
    right: 0;
    height: 4.25vh;
    padding: 1vh 15%;
    margin-top: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
    font-size: 1.8vh;
}

#name {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

/* Other elements */
h1 {
    margin-top: 0;
}

h2 {
    margin-top: 5vh;
}

main {
    padding: 3% 15%;
}

button, input[type=submit] {
    padding: 1vh;
    margin-right: 1vh;

    background-color: #8a65a1;
    border: none;
    outline: none;

    text-transform: uppercase;
    font-family: Roboto Condensed;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

button:hover {
    background-color: #4f3e6b;
}

table {
    min-width: 45%;
    border-collapse: collapse;
}

table tr th {
    background-color: #4f3e6b;
    color: white;
    font-size: 2.5vh;
}

table tr th, table tr td {
    padding: 1vh;
    text-align: center;
    white-space: nowrap;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #dcbcec;
}